<div className="flex flex-col md:flex-row">
  <div className="leftcont flex flex-col items-center md:w-3/4">
    <h2 className="h1 font-sans text-2xl">
      Try our Standard plan for <em>50% off</em>!
    </h2>
    <div className="singlePlan__desktopCopy copy-medium mb-4 md:mb-0 hidden md:block">
      <p>
        Spend less to grow more with 50% off for 12 months, even if you change to our <a href="/pricing/premium-details/">Premium</a> or <a href="/pricing/essentials-details/">Essentials</a> plans. Cancel or downgrade to our basic <a href="/pricing/free-details/">Free</a> plan at any time.
      </p>
    </div>
    <div className="singlePlan__mobileCopy copy-medium mb-4 md:mb-0 block md:hidden">
      <p>
        Enjoy 50% off for 12 months, even if you change to a <a href="/pricing/premium-details/">Premium</a> or <a href="/pricing/essentials-details/">Essentials</a> plan. Cancel or downgrade to a <a href="/pricing/free-details/">Free</a> plan at any time.
      </p>
    </div>

   <ul className="singlePlan__featureList mb-4 ">
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Generative AI features
              </li>
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Advanced segmentation &amp; reporting
              </li>
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Enhanced automations
              </li>
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Custom-coded email templates
              </li>
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Data-driven optimization tools
              </li>
              <li className="featureList__feature flex items-center mb-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  className="icon icon--yes mr-2"
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                    fill="#000"
                  ></path>
                </svg>
                <p className="sr-only">Included</p>
                Personalized onboarding
              </li>
            </ul>

    <div className="singlePlan__cta--desktop">
      <a className="ctaArrow" href="/pricing/marketing/" aria-label="See all plans">See all plans</a>
    </div>
  </div>
  <div className="rightcont md:w-1/4"></div>
</div>
