
/* <button class="button-74" role="button">Button 74</button> */

/* CSS */
.button-74 {
  background-color: yellow;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* <!-- HTML !-->
<button class="button-30" role="button">Button 30</button> */

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #d99536;
  border-radius: 300px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#d99536 0 -3px 0 inset;
  box-sizing: border-box;
  color: #060715;
  cursor: pointer;
  display: inline-flex;
  font-family:'Courier New', Courier, monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(31, 28, 38, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0e0e21 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(34, 29, 45, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #1f1f2d 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #11111b 0 3px 7px inset;
  transform: translateY(2px);
}