 <sectiion>
        <div className="container mx-auto px-4">
          {/* <!-- Flex container to hold the three divs in a row --> */}
          <div className="flex flex-row justify-between">
            {/* <!-- First div --> */}
            <div className="p23FeatureCard__copy copy-small flex flex--column flex--between flex--nowrap bg-blue-200 p-4">
              <p className="p23FeatureCard__description">
                Boost orders and customer lifetime value by dynamically
                personalizing emails based on browsing and purchase data.
              </p>
              <div
                className="p23FeatureCard__ctas"
                data-behavior="p23FeatureCardCTAs"
              >
                <a
                  className="ctaSecondary"
                  href="/solutions/marketing-automation-tools/"
                  aria-label="Explore marketing automation "
                >
                  Explore marketing automation
                </a>
              </div>
            </div>

            {/* <!-- Second div --> */}
            <div className="p23FeatureCard__copy copy-small flex flex--column flex--between flex--nowrap bg-green-200 p-4">
              <p className="p23FeatureCard__description">
               Effortlessly create on-brand content with generative AI tools and choose from expertly designed templates.
              </p>
              <div
                className="p23FeatureCard__ctas"
                data-behavior="p23FeatureCardCTAs"
              >
                <a
                  className="ctaSecondary"
                  href="/solutions/marketing-automation-tools/"
                  aria-label="Explore marketing automation "
                >
                  Explore AI tools
                </a>
              </div>
            </div>

            {/* <!-- Third div --> */}
            <div className="p23FeatureCard__copy copy-small flex flex--column flex--between flex--nowrap bg-yellow-200 p-4">
              <p className="p23FeatureCard__description">
              Target customers with advanced logic like spend amounts, buying behavior, and predicted attributes
              </p>
              <div
                className="p23FeatureCard__ctas"
                data-behavior="p23FeatureCardCTAs"
              >
                <a
                  className="ctaSecondary"
                  href="/solutions/marketing-automation-tools/"
                  aria-label="Explore marketing automation "
                >
                  Explore audience management
                </a>
              </div>
            </div>

            {/* <!-- Third div --> */}
            <div className="p23FeatureCard__copy copy-small flex flex--column flex--between flex--nowrap bg-yellow-200 p-4">
              <p className="p23FeatureCard__description">
                Analyze performance with custom reports, funnel visualizations, and industry benchmarking.
              </p>
              <div
                className="p23FeatureCard__ctas"
                data-behavior="p23FeatureCardCTAs"
              >
                <a
                  className="ctaSecondary"
                  href="/solutions/marketing-automation-tools/"
                  aria-label="Explore marketing automation "
                >
                  Explore analytics & reporting
                </a>
              </div>
            </div>
          </div>
        </div>
      </sectiion>